* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    min-width: 400px;
    padding: 2rem;
}


/* reset / submit buttons */
.reset-submit-btn {
    padding: 6px 30px;
    background-color: lightpink;
    margin-right: 50px;
}

.reset-submit-btn:hover {
    scale: 1.1;
    transition: 0.3s;
    cursor: pointer;
}


/* labels-inputs */
.label-input {
    display: flex;
    width: 340px;
    justify-content: space-between;
}


/* login container */
#login-registration-container {
    min-height: 400px;
    padding-top: 1rem;
}

#login-box {
    display: block;
}

#login-box p {
    margin: 1rem;
}

#registration-switch-btn {
    padding: 6px 30px;
    margin-bottom: 1rem;
    background-color: lightgreen;
}

#registration-switch-btn:hover {
    scale: 1.2;
    transition: 0.3s;
    cursor: pointer;
}


/* registration container */
#registration-box {
    display: none;
}

#login-switch-btn {
    padding: 6px 30px;
    margin-bottom: 1rem;
    background-color: lightblue;
}

#login-switch-btn:hover {
    scale: 1.2;
    transition: 0.3s;
    cursor: pointer;
}

#registration-email-field {
    min-width: 220px;
}

#success-registration-message {
    display: none;
}

#success-registration-message h4 {
    color: limegreen;
    margin: 1rem;
    font-size: 1.5rem;
}

#success-registration-message p {
    margin: 0.6rem;
    font-size: 1.2rem;
}